@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.introduce7 {
    animation: introduce7 0.4s linear 1;
}
@keyframes introduce7 {
    0% {
        transform: translateY(50%);
    }

    100% {
        transform: translateY(0);
    }
}
.img {
    /* --s: 500px; */
    --b: 4px; /* the border thickness*/
    --g: 2px; /* the gap */
    --c: #4ecdc4; /* the color */

    aspect-ratio: 1;
    /* outline: solid #0009; */
    outline-offset: calc(var(100%) / -2);
    cursor: pointer;
    transition: 0.3s;
}
.img:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
}

.gallery {
    --g: 8px; /* the gap */

    display: grid;
    clip-path: inset(1px); /* to avoid visual glitchs */
}
.gallery > img {
    --_p: calc(-1 * var(--g));
    grid-area: 1/1;
    width: 100%; /* control the size */
    aspect-ratio: 1;
    cursor: pointer;
    transition: 0.4s 0.1s;
}
.gallery > img:first-child {
    clip-path: polygon(0 0, calc(100% + var(--_p)) 0, 0 calc(100% + var(--_p)));
}
.gallery > img:last-child {
    clip-path: polygon(
        100% 100%,
        100% calc(0% - var(--_p)),
        calc(0% - var(--_p)) 100%
    );
}
.gallery:hover > img:last-child,
.gallery:hover > img:first-child:hover {
    --_p: calc(50% - var(--g));
}
.gallery:hover > img:first-child,
.gallery:hover > img:first-child:hover + img {
    --_p: calc(-50% - var(--g));
}

.img1 {
    --g: 4px; /* the gap */
    --b: 6px; /* border thickness*/
    --c: #0925da; /* the color */

    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
    background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
        var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b), var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: 0.3s;
}
.img1:hover {
    --_p: 75%;
    filter: grayscale(0%);
}
.img2 {
    filter: grayscale();
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 6px solid whitesmoke;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem;
    transition: filter 0.4s ease-in-out;
}

.img2:hover {
    filter: none;
}
.bg-whilecss {
    background-color: #fff;
}
.bg-blackcss {
    background-color: #000;
}
.bg-yellowcss {
    background-color: yellow;
}
.bg-bluecss {
    background-color: blue;
}
.bg-greencss {
    background-color: green;
}
.bg-redcss {
    background-color: red;
}
/* styles.css */
.custom-scrollbar {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #bec3ca #edf2f7; /* For Firefox */

    /* For WebKit-based browsers */
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #edf2f7;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #4a5568;
        border-radius: 4px;
        border: 2px solid #edf2f7;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #6d747f;
    }
}
